@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

body {
  /* font-weight: 400; */
  overflow-x: hidden;
}



:root {
  /* Font size */
  --extra-large-text: 4.8rem;
  --large-large-text: 3.2rem;
  --large-text: 2.4rem;
  --large-medium-text: 2rem;
  --medium-text: 1.8rem;
  --medium-small-text: 1.6rem;
  --small-text: 1.4rem;
  --extra-small-text: 1.2rem;

  /* Color */
  --main-color: #d375b9;
  --label-color: #697386;
  --task-color: #494c6b;
  --small-text-color: #9495a5;
  --white-color: #fff;
  --normal-color: #697386;
  --complete-task-color: #d1d2da;

  --input-text-color: #000;
  --show-password-color: #aa3780;

  --filter-btn-color: (--small-text-color);

  /* Backgrounds */
  --primary-background: #fafafa;
  /* --secondary-background is background of  the task container and background of login and singup */
  --secondary-background: #fff;
  --profile-background: #fff;
  --button-background: #d375b9;

  --task-background: #fff;
  --back-drop-background: rgba(0, 0, 0, 0.75);
  --input-background: #fff;

  /* Shadow */
  --main-shadow: 6px 6px 15px 0px rgba(79, 79, 79, 0.25);
  --task-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --button-shadow: 0px 2.7px 2.2px 0px rgba(0, 0, 0, 0.02),
    0px 6.6px 5.3px 0px rgba(0, 0, 0, 0.03),
    0px 12.5px 10px 0px rgba(0, 0, 0, 0.04);
  --label-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  --profile-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

ol,
ul {
  list-style: none;
}

li {
  text-decoration: none;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

*:focus {
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}